.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 127px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 16px 103px 16px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
  }
}.u-section-2 {
  background-image: url("images/ProductDetail.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 576px;
}

.u-section-2 .u-image-1 {
  width: 270px;
  height: 209px;
  margin: 8px auto 0 -27px;
}

.u-section-2 .u-text-1 {
  margin: -68px 697px 0 122px;
}

.u-section-2 .u-text-2 {
  margin: 92px auto 0 69px;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  margin: 0 0 41px 49px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 515px;
    margin-left: 101px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
    width: auto;
    margin-top: 84px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin: 8px -27px 30px 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -73px;
    margin-right: 280px;
    margin-left: 119px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 89px;
    margin-right: 0;
    margin-left: 44px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
    margin-right: 219px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-2 .u-image-1 {
    width: 197px;
    height: 152px;
    margin-top: 17px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -48px;
    margin-right: -84px;
    margin-left: 84px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 40px;
    margin-right: -50px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-bottom: 35px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 256px;
}

.u-section-3 .u-text-1 {
  width: 687px;
  margin: 76px auto 0;
}

.u-section-3 .u-shape-1 {
  width: 690px;
  height: 132px;
  margin: -118px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 64px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-shape-1 {
    width: 663px;
    height: 89px;
    margin-top: -58px;
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 146px;
  }

  .u-section-3 .u-text-1 {
    margin-right: -20px;
    margin-left: -7px;
  }

  .u-section-3 .u-shape-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-3 .u-text-1 {
    margin-right: -13px;
    margin-left: -4px;
  }

  .u-section-3 .u-shape-1 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 {
  background-image: url("images/2dd18ffc26bdf84c6ec16b9ca42cb8725efd60dace0e9265bee29ec339ae825858acb5dfd477bb9a215051f1ac8a285e73aa174076eec2c20ace0c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 705px;
}

.u-section-4 .u-group-1 {
  width: 535px;
  min-height: 328px;
  height: auto;
  margin: 60px auto 0 -38px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 32px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-4 .u-image-1 {
  width: 282px;
  height: 606px;
  margin: -345px 90px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 315px;
  height: 632px;
  margin: -619px 73px 0 auto;
}

.u-section-4 .u-image-3 {
  width: 547px;
  height: 137px;
  margin: -184px auto 60px -36px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-image-1 {
    height: 607px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -620px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-4 .u-group-1 {
    width: 436px;
    min-height: 412px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -410px;
    margin-right: -9px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -624px;
    margin-right: -25px;
  }

  .u-section-4 .u-image-3 {
    width: 301px;
    height: 87px;
    margin-top: -99px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-4 .u-group-1 {
    min-height: 223px;
    width: 197px;
    margin-top: 54px;
    margin-left: -27px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 22px;
    padding-bottom: 5px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
    margin-top: 1px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-image-1 {
    width: 128px;
    height: 286px;
    margin-top: -258px;
    margin-right: -18px;
  }

  .u-section-4 .u-image-2 {
    width: 143px;
    height: 297px;
    margin-top: -292px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 26px;
    margin-right: -18px;
    margin-left: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 334px;
}

.u-section-5 .u-list-1 {
  min-height: 285px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-template-rows: auto;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  width: 185px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  width: 185px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  width: 185px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-6 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-5 .u-list-1 {
    min-height: 235px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-5 .u-list-1 {
    min-height: 540px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    margin-top: 85px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 222px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  width: 655px;
  margin: 40px auto 0;
}

.u-section-6 .u-form-1 {
  height: 77px;
  width: 655px;
  margin: 26px auto 40px;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  border-style: none;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-form-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 150px;
}

.u-section-7 .u-image-1 {
  width: 570px;
  height: 92px;
  margin: 29px auto 0;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 60px;
  min-height: 16px;
  width: 60px;
  min-width: 16px;
  margin: -76px 59px 0 auto;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-image-2 {
  width: 117px;
  height: 98px;
  margin: -79px auto 26px 10px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    margin-top: 11px;
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: -49px;
    margin-right: 66px;
  }

  .u-section-7 .u-image-2 {
    margin-bottom: 17px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 131px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 15px;
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: -76px;
    margin-right: 28px;
  }

  .u-section-7 .u-image-2 {
    margin-bottom: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 126px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 87px;
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: -73px;
    margin-right: 66px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 148px;
  }

  .u-section-7 .u-image-1 {
    height: 55px;
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: -57px;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    width: 97px;
    height: 81px;
    margin-top: -70px;
    margin-bottom: 34px;
    margin-left: -24px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 24px;
}